.container {
  max-width: 900px;
  margin: 20px auto;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single__accordion {
  background-color: rgb(237, 231, 231);
  padding: 10px 20px;
  position: relative;
}
.single__accordion p {
  margin-top: 10px;
}

.btn {
  position: absolute;
  right: 20px;
  top: 10px;
  padding: 5px;
  cursor: pointer;
  border-radius: 95px;
  font-size: 16px;
}
